@using Microsoft.AspNet.Identity
@using Microsoft.AspNetCore.Identity
@using Models.IdentityModels
@inject SignInManager<AppUser> SignInManager
@model _AuctionRead

@{
    ViewData["Title"] = "Auktion";
}

<div class="row">
    <div class="col-5 mt-3">
        <h2 class="strong"> @Model.Titel</h2>
        <hr/>
        <div class="pl-3">
            <p><i class="fas fa-info-circle"></i><strong> Info:</strong> @Model.Beskrivning</p>
            <p><i class="fas fa-money-bill-alt"></i><strong> Utropspris:</strong> @Model.Utropspris kr</p>
            <p><i class="fas fa-calendar"></i><strong> Startar:</strong> @Model.StartDatum</p>
            <p><i class="fas fa-calendar"></i><strong> Slutar:</strong> @Model.SlutDatum</p>
        </div>
        @if (Model.IsOwner)
        {
            <a asp-controller="Auction" asp-action="UpdateAuction" asp-route-id=@Model.AuktionId class="btn btn-dark">Uppdatera</a>
        }
        @if (User.IsInRole(AppUser.ROLE_ADMIN))
        {
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Ta bort</button>
        }
    </div>
    <div class="col-2"></div>
    <div class="col-5 mt-3">
        @if (DateTime.Now < Model.StartDatum)
        {
            <h2>Auktion har inte startat ännu</h2>
        }
        else if (DateTime.Now < Model.SlutDatum)
        {
            <div id="bidList"></div>
            if (SignInManager.IsSignedIn(User))
            {
                <div id="errorBid" class="mt-2"></div>
                <div id="createBid"></div>
                <button type="button" class="btn btn-dark" id="createBidBtn">Ge ett bud</button>
            }
        }
        else
        {
            <h2>Auktionen över</h2>
            <hr />
            if (Model.MaxBid != null)
            {
                <div class="pl-2">
                    <h3>Vinnande bud: @Model.MaxBid.Summa kr</h3>
                    @if (User.Identity.GetUserId() == @Model.MaxBid.Budgivare)
                    {
                        <h3 class="strong text-green">*** Du vann budgivningen ***</h3>
                    }
                </div>
            }
            else
            {
                <h3>Inga bud</h3>
            }
        }
        <div>

        </div>
    </div>
</div>

<!-- Confirm delete of modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="Delete Auction" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ta bort auktion @Model.AuktionId</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Vill du bort auktion @Model.AuktionId - @Model.Titel?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
                <form method="post" asp-controller="Auction" asp-action="DeleteAuction" asp-route-auctionId="@Model.AuktionId">
                    <button type="submit" class="btn btn-danger" id="deleteBtn">Ta bort auktion</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    /*    AJAX-requests     */
    const getBids = () => {
        const id = @Model.AuktionId
        $.ajax({
            url: '/Bid/GetBids',
            type: 'Get',
            data: { id: id },
            success: result => {
                $("#bidList").html(result);
            },
            error: result => {
                alert('Kunde inte ladda budlista');
            }
        });
    };

    const getBidForm = () => {
        const id = @Model.AuktionId
        $.ajax({
            url: '/Bid/CreateBid',
            type: 'Get',
            data: { id: id },
            success: result => {
                $("#createBid").html(result);
            }
        });
    };

    const createBid = (token, bidObj) => {
        $.ajax({
            url: '/Bid/CreateBid',
            type: 'Post',
            data: { __RequestVerificationToken: token, uim: bidObj },
            success: result => {
                //Reload list of bids
                const alertHtml = createAlert('Bud lyckades', true);
                $('#errorBid').html(alertHtml);
                getBids();
            },
            error: result => {
                const alertHtml = createAlert(result.responseText, false);
                $('#errorBid').html(alertHtml);
            }
        });
    };

    /* Other functions */
    const createAlert = (text, success) =>  `
        <div class="alert alert-${success ? 'success' : 'danger'}" role="alert">
            ${text}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>`;

    $(document).ready(function () {

        $("#editBtn").click(() => {
            $("#editForm").toggle();
            const btnText = $("#editBtn").text() === 'Uppdatera' ? 'Stäng' : 'Uppdatera';
            $("#editBtn").text(btnText);
        });

        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus');
        });

        //Try to create a bid
        $('#createBidBtn').click(function () {
            //Get the form verification token
            const id = $('#AuktionID').val();
            const form = $('#bidForm');
            const token = $('input[name="__RequestVerificationToken"]', form).val();
            //Create the bid object
            const sum = $('#Summa').val();
            var bidObj = { AuktionID: id, Summa: sum };
            //Try to create bid
            createBid(token, bidObj);
        });

        //Fetch data when the document has loaded
        getBids();
        getBidForm();
    });
</script>

