@using Microsoft.AspNetCore.Identity
@using Models.IdentityModels
@inject SignInManager<AppUser> SignInManager
@model _AuctionRead

@{
    ViewData["Title"] = "Auktion";
}

<p>@Model.Titel</p>

<div class="row">
    <div class="col-12">
        <form method="post" asp-controller="Auction" asp-action="UpdateAuction" id="editForm" style="display: none">
            <!-- Transform the auction read data to manage data -->
            @{ Html.RenderPartial("_AuctionFormContent", _AuctionManage.Transform(Model));}
            <button type="submit" class="btn btn-dark">Uppdatera auktion</button>
        </form>
    </div>
</div>

@if (User.IsInRole(AppUser.ROLE_ADMIN))
{
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#deleteModal">Ta bort</button>
}
@if (Model.IsOwner)
{
    <a asp-controller="Auction" asp-action="UpdateAuction" asp-route-id=@Model.AuktionId class="btn btn-dark">Uppdatera</a>
}
@if (DateTime.Now < Model.SlutDatum)
{
    <div id="bidList"></div>
    if (SignInManager.IsSignedIn(User))
    {
        <div id ="errorBid"></div>
        <div id="createBid"></div>
        <button type="button" class="btn btn-dark" id="createBidBtn">Ge ett bud</button>
    }
}
else
{
    <p>Info om vinnande bud</p>
}

<!-- Confirm delete of modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="Delete Auction" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ta bort auktion @Model.AuktionId</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Vill du bort auktion @Model.AuktionId - @Model.Titel?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
                <form method="post" asp-controller="Auction" asp-action="DeleteAuction" asp-route-auctionId="@Model.AuktionId">
                    <button type="submit" class="btn btn-primary" id="deleteBtn">Ta bort auktion</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    /*    AJAX-requests     */
    const getBids = () => {
        const id = @Model.AuktionId
        $.ajax({
            url: '/Bid/GetBids',
            type: 'Get',
            data: { id: id },
            success: result => {
                $("#bidList").html(result);
            },
            error: result => {
                alert('Kunde inte ladda budlista');
            }
        });
    };

    const getBidForm = () => {
        const id = @Model.AuktionId
        $.ajax({
            url: '/Bid/CreateBid',
            type: 'Get',
            data: { id: id },
            success: result => {
                $("#createBid").html(result);
            }
        });
    };

    const createBid = (token, bidObj) => {
        $.ajax({
            url: '/Bid/CreateBid',
            type: 'Post',
            data: { __RequestVerificationToken: token, uim: bidObj },
            success: result => {
                //Reload list of bids
                getBids();
            },
            error: result => {
                const alertHtml = createAlert(result.responseText);
                $('#errorBid').html(alertHtml);
            }
        });
    };

    /* Other functions */
    const createAlert = text =>  `
        <div class="alert alert-danger" role="alert">
            ${text}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>`;

    $(document).ready(function () {

        $("#editBtn").click(() => {
            $("#editForm").toggle();
            const btnText = $("#editBtn").text() === 'Uppdatera' ? 'Stäng' : 'Uppdatera';
            $("#editBtn").text(btnText);
        });

        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus');
        });

        //Try to create a bid
        $('#createBidBtn').click(function () {
            //Get the form verification token
            const id = $('#AuktionID').val();
            const form = $('#bidForm');
            const token = $('input[name="__RequestVerificationToken"]', form).val();
            //Create the bid object
            const sum = $('#Summa').val();
            var bidObj = { AuktionID: id, Summa: sum };
            //Try to create bid
            createBid(token, bidObj);
        });

        //Fetch data when the document has loaded
        getBids();
        getBidForm();
    });
</script>

